.brand-name{
    font-family: "Work Sans", sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color:#131313;
}
/* some shared style  given below  */

.display-flex{
    display:flex;

}
.list-style{
    list-style: none;
}
ul li a {
    text-decoration: none;
    color: #131313;
    font-size: 1.25rem;
}
.ul-style{
    gap:25px;
}
.first-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    gap:43px;
    margin-bottom:10px;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
   
}
.brand-title{
    font-family:"Work Sans", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color:rgba(19, 19, 19, 1);
    margin-bottom: 0px;
}
.brand-sub-title{
    font-size: 1rem;
    font-weight:400;
    color:#727272;
    font-family:"Work Sans", sans-serif;

}
.btn-primary{
    background-color: #FF900E;
    color:#FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 21px 24px;
    border-radius: 8px;
    border: none;
    margin-bottom: 50px;

}
.brand-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:21rem;
    width:58rem; */
    text-align: center;
    margin:0 auto;
    max-width: 800px;
}
.banner-img{
    height:700px;
    width: 1446px;
    margin:50px 234px 50px 240px;
    justify-content: center;
    align-items: center;
}
.header img{
    width:100%;

}
.display{
    max-width: 1440px;
    margin: 0 auto;
}
@media screen and (max-width:576px ) 
{
    
    .first-part{
        flex-direction: column;
    }   
    .header{
        margin:0 auto;
        justify-content: center;
    } 
}


